/Temp
/UserSettings
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/ResLoadTest.sln
/Unity.CollabProxy.Editor.csproj
/Unity.EditorCoroutines.Editor.csproj
/Unity.Performance.Profile-Analyzer.Editor.csproj
/Unity.PlasticSCM.Editor.csproj
/Unity.Rider.Editor.csproj
/Unity.Services.Core.Analytics.csproj
/Unity.Services.Core.Configuration.csproj
/Unity.Services.Core.Configuration.Editor.csproj
/Unity.Services.Core.csproj
/Unity.Services.Core.Device.csproj
/Unity.Services.Core.Editor.csproj
/Unity.Services.Core.Environments.csproj
/Unity.Services.Core.Environments.Internal.csproj
/Unity.Services.Core.Internal.csproj
/Unity.Services.Core.Networking.csproj
/Unity.Services.Core.Registration.csproj
/Unity.Services.Core.Scheduler.csproj
/Unity.Services.Core.Telemetry.csproj
/Unity.Services.Core.Threading.csproj
/Unity.Settings.Editor.csproj
/Unity.TestTools.CodeCoverage.Editor.csproj
/Unity.TestTools.CodeCoverage.Editor.OpenCover.Model.csproj
/Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.csproj
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.Timeline.csproj
/Unity.Timeline.Editor.csproj
/Unity.VisualScripting.Core.csproj
/Unity.VisualScripting.Core.Editor.csproj
/Unity.VisualScripting.Flow.csproj
/Unity.VisualScripting.Flow.Editor.csproj
/Unity.VisualScripting.SettingsProvider.Editor.csproj
/Unity.VisualScripting.Shared.Editor.csproj
/Unity.VisualScripting.State.csproj
/Unity.VisualScripting.State.Editor.csproj
/Unity.VisualStudio.Editor.csproj
/Unity.VSCode.Editor.csproj
/UnityEditor.TestRunner.csproj
/UnityEngine.TestRunner.csproj
/.vscode
/Library
/Logs
/obj
/buildcpp
/buildmono2022
*.csproj
/Assets/StreamingAssets/splits.ab
/Assets/StreamingAssets/test.ab
